* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.alert-box {
  background-color: #ccc; 
  width: 300px; 
  padding: 5rem;
  display: flex;

}
#alert {    
  display: none;
}
p {
    color: #222;
    font-weight: 500;
    display: inline;
}